@model practic.STUDENT_INFORMATION_MODELS.Student


<h2>Student Details</h2>

<div>
    <h4>StudentID: @Model.StudentID</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">StudentName:</dt>
        <dd class="col-sm-10">@Model.StudentName</dd>
        <dt class="col-sm-2">Email:</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        <dt class="col-sm-2">Password:</dt>
        <dd class="col-sm-10">@Model.Password</dd>
        <dt class="col-sm-2">Phone:</dt>
        <dd class="col-sm-10">@Model.Phone</dd>
      
    </dl>
</div>